  * {
      margin: 0;
      top: 0;
      font-family: "mine";
  }

  @font-face {
      font-family: 'mine';
      src: url('./static/myFont.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

  .login {
      height: 550px;
      width: 488px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      /* position: relative; */
      border-top: 5px solid #3ac7ec;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;

  }

  /* .bckimg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      opacity: 0.2;
  } */

  .header {
      height: 60px;
      width: 100%;

      background-image: url("./static/header.svg");
      background-color: rgb(0, 10, 22);
      display: flex;
      align-items: center;
      color: white;
      top: 0px;
      position: fixed;
      padding: 5px;

  }

  .imageMask {
      height: 100%;
      width: 100%;
      z-index: 2;
      background-color: #001e40;
      position: absolute;
      opacity: 0.6;
  }

  .footer {
      height: 40px;
      width: 100%;
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
  }

  .container {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      background-color: #eeeeee;
      overflow: hidden;
  }

  #leftBtn {
      position: absolute;
      cursor: pointer;
      /* left: 12px; */
      left: 0;
      /* margin: 10px; */
      margin-left: 10px;

  }

  .top {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 22px;
      margin: 10px;
  }

  .content {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  #radio {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 25px;
      align-items: center;
      justify-content: flex-start;
  }

  .dropDown {
      border: none;
      width: 100%;
      height: 30px;
      font-weight: bold;
      color: rgb(53, 53, 53);
      font-size: 15px;
  }

  hr {
      border: none;
      border-top: 2px solid #f1f1f1;
      width: 100%;
  }

  .lg {
      color: #8d8d8d;
      font-size: 10px;
      font-weight: bold;
      padding: 5p;
      padding-left: 5px;
  }

  .ForGreen {
      font-size: 15px;
      color: green;
      font-weight: bold;
      right: 0;
      bottom: 0;
  }

  input[type="text"] {
      border: none;
      font-weight: bold;
      width: 100%;
      height: 30px;
      font-size: 15px;
  }

  .inputContent {
      margin: 10px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
  }

  .textInput {
      align-items: flex-end;
  }

  .checkbox {
      display: flex;
      flex-direction: row;
      gap: 5px;
  }

  .checkboxLabel {
      font-weight: bold;
      color: #313131;
      font-size: 15px;
  }

  input[type="checkbox"] {
      width: 20px;
      height: 20px;
      accent-color: green;
  }

  input[type="checkbox"]:checked {
      background-color: #4CAF50;
      border: 1px solid #4CAF50;
  }

  input[type="radio"] {
      accent-color: green;
      height: 20px;
      width: 20px;
  }

  .preview {
      position: absolute;
      top: 10px;
  }

  button {
      background-color: #3fd28b;
      border: none;
      /* width: 30%; */
      height: 40px;
      width: 200px;
      box-shadow: 0 0 8px #878787;
      font-weight: bold;
      cursor: pointer;
  }

  .buttonCont {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .copyRight {
      background-color: rgb(208, 208, 208);
      display: flex;
      flex-direction: row;
      width: 100%;
      bottom: 0;
      align-items: center;
      justify-content: center;
      gap: 30px;
      height: 50px;
  }

  #logo {
      position: relative;
      left: 20px;
      z-index: 10;
  }

  .links {
      background-color: #eeeeee;
      display: flex;
      gap: 10px;
      left: 0;
      height: 20px;
      align-items: center;
      justify-content: center;
  }

  .vl {
      width: 1px;
      height: 20px;
      border-left: 2px solid rgb(164, 164, 164);
  }

  .radio {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      gap: 10px;
  }